<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>CKH Chat Room</title>
</head>
<body id="">
 <div style="border:1px solid #AAA; position: absolute; z-index: 900; left: 0px; top: 0px; height: 552px; width: 847px;">
<div style="border:1px solid #AAA; position: absolute; z-index: 900; width: 161px; height: 244px; left: 680px; top: 6px;">
 <img src={{ icon }} style="border:1px solid #AAA; position: absolute; z-index: 900; width: 142px; height: 142px; left: 8px; top: 8px;"></img>
 <p style="position: absolute; z-index: 900; left: 14px; top: 160px;">
     我：{{ username }}<br>
     <a href="https://cn.gravatar.com/">修改头像</a>
     <a href="/logout">注销</a>
     <a href="/history/0">历史记录</a>
     <a href="/about">关于</a></p>
</div>
  <div style="border: 1px solid #AAA; position: absolute; width: 663px; height: 126.99999740234375px; left: 7.999998701171875px; top: 417.00001395996094px;">
    <form action="" method="post" style="position: absolute; z-index: 900; left: 41px; top: 102.00001621246338px; width: 162px; height: 20px;">
      <textarea name=message style="height: 73px; width: 637.9999974023438px; position: absolute; z-index: 900; left: -29px; top: -95.61698378753658px;"></textarea>
        <input type=submit value="发送" style="width: 124px; height: 25px; position: absolute; z-index: 900; left: 480px; top: -6px;"/>
    </form>
</div>
  <div style="border: 1px solid #AAA; position: absolute; z-index: 900; width: 161px; left: 680px; top: 258px; height: 285.99999740234375px;">
<p style="position: absolute; z-index: 900; left: 8px; top: 6px;">
  成员</p>
<div class="members" style="OVERFLOW-Y: auto; OVERFLOW-X: auto; border:1px solid #AAA; position: absolute; z-index: 900; width: 147px; height: 230px; left: 8px; top: 42.300018310546875px;">
    <ul>
        {% for user in users %}
        <li><a href="/get_email/{{user[0]}}">{{ user[0] }}</a></li>
        {% endfor %}
    </ul>
</div>
 </div>
  <div class="title" style="OVERFLOW-Y: auto; OVERFLOW-X: auto; border:1px solid #AAA; position: absolute; z-index: 900; width: 663px; height: 32px; left: 8px; top: 8px;">
   <span style="font-size: 24px; top: 97px;">{{ title }} </span>
   <span style="font-size:10px; color: #AAA;">这里下滑查看一言。</span>
   <p id="hitokoto" style="font-size: 17px;"></p>
   <script src="http://lanceliang2018.xyz:10003/js" defer=""></script>
  </div>
  <div class="mainWindow" style="OVERFLOW-Y: auto; OVERFLOW-X: auto; border:1px solid #AAA; position: absolute; z-index: 900; width: 663px; height: 363px; left: 8px; top: 48px;">
      <ul>
          {% for entry in entries %}
          <li><img src={{entry[3]}} style="width: 24px; height: 24px;"/><span style="color: blue">{{ entry[1] + ' ' + entry[2] }}</span><br>
              <textarea readonly="" style="width: 580px; height: 60px;">{{ entry[4] }}</textarea></li>
          {% endfor %}
      </ul>
  </div>
</div>
 </body>
</html>
